[init]
	defaultBranch = master
[alias]
	aliases = "config --get-regexp alias"
	destash = "stash pop"
	clone-or-pull = "!git-clone-or-pull.sh"
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	push-pull = "!while ! git push; do git pull; done"
	uncommit = "reset HEAD^ --"
	unstage = "reset -q HEAD --"
	upstream-set = "!github-upstream-set.sh"
[core]
	editor = vi
	excludesfile = ~/.gitignore-global
[user]
	name = Noel Yap
	email = noel.yap+github.com@gmail.com
[merge]
	tool = meld
[log]
	date = iso-strict-local
[push]
	default = current
[pull]
	rebase = true
[http]
	postBuffer = 524288000
