[alias]
	aliases = "config --get-regexp alias"
        destash = "stash apply"
	get = "!stash-get.sh"
	checkout-pr = "!stash-checkout-pr.sh"
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	p4 = !/home/nyap/bin/git-p4.py
	push-pull = "!while ! git push; do git pull; done"
	reset-file = "checkout --"
	uncommit = "reset --hard HEAD^ --"
	unstage = "reset -q HEAD --"
	upstream-set = "!github-upstream-set.sh"
[core]
	#fileMode = false
	#autocrlf = input # turned off for now since it causes error upon adding `gradlew.bat`
	safecrlf = true
	editor = vi
[user]
	name = Noel Yap
	email = noel.yap+github.com@gmail.com
[merge]
	tool = meld
[log]
	date = iso-strict-local
[push]
	default = current
