[alias]
	aliases = "config --get-regexp alias"
        destash = "stash apply"
	get = "!bb-get.sh"
	checkout-pr = "!bb-checkout-pr.sh"
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	push-pull = "!while ! git push; do git pull; done"
	uncommit = "reset --hard HEAD^ --"
	unedit = "checkout --"
	unstage = "reset -q HEAD --"
	upstream-set = "!github-upstream-set.sh"
[core]
	editor = vi
[user]
	name = Noel Yap
	email = noel.yap+github.com@gmail.com
[merge]
	tool = meld
[log]
	date = iso-strict-local
[push]
	default = current
[pull]
	rebase = true

[include]
	path = ~/.gitconfig.grailbio.com
